<div class="container-fluid" id="results-container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 text-center">
      <h3>We think these people may be able to help...</h3>
    </div>
  </div>
  <% @providers.each do |provider| %>
    <%= render partial: "show", layout: false, locals: {provider: provider} %>
  <% end %>
</div>

<%= render "contact_form", layout: false %>
