<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a class="navbar-brand" href="#">Spring</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a id="signup" href="/providers/new">Provider Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="container-fluid" id="input-container">

  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3>Today I feel...</h3>
    </div>
  </div>

    <div class="row">
      <div id="word-cloud">
        <% @primary_feelings.each do |feeling| %>
            <div class="floating-word"><a href="#" ><%= feeling.word %></a></div>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-3">
      <%= form_for :location, url: "#", html: {id: "search"} do |f| %>
        <p><%= f.text_field :location, :placeholder => "zip" %><%= f.submit "Search" %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="demo">
    <div>
  </div>
<div class="container-fluid" id="secondary-feelings">
</div>
<div class="container-fluid" id="tertiary-feelings">
</div>
</div>


<div class="container-fluid" id="results-container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3>Click on some words above to help us help you...</h3>
    </div>
  </div>


</div>
