
<div class="container-fluid" id="input-container">
   <div class="row">
    <div class="col-sm-3">
      <h1>Spring</h1>
    </div>
   </div>

  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3>Today I feel...</h3>
    </div>
  </div>

    <div class="row">
      <div id="word-cloud">
        <% @primary_feelings.each do |f| %>
            <div class="floating-word"><a href="#" ><%= f.word %></a></div>
        <% end %>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-4">
    </div>
  </div>

  <div class="row">
    <div class="col-sm-5">
    </div>
    <div class="col-sm-3">
      <%= form_for :location, url: "#", html: {id: "search"} do |f| %>
        <p><%= f.text_field :location, :placeholder => "zip" %><%= f.submit "Search" %></p>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div id="demo">
    <div>
  </div>
</div>

<div class="container-fluid" id="results-container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3>Click on some words above to help us help you...</h3>
    </div>
  </div>


</div>
