<div class="modal fade" id="about" role="dialog" aria-hidden="true" aria-labelledby="about">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      <h4 class="modal-title" id="aboutModalLabel">About our site:</h4>
      </div>
      <div class="modal-body">
      <p>
        Have you ever tried to find help from a mental health professional? If so then you know how difficult it can be at times. That difficulty is compounded when you are struggling with your own issues.
      </p>
      <p>
        That is where 'Beacon' comes in. Our app provides an easy, clickable interface that asks users how they are feeling and immediately gives them results of mental health professionals in their area.
      <p>
        Users can also refine their searches by different parameters such as zip code, distance, insurance, and specifying the age range that a professional specializes in.
      </p>
      </p>
      <p>
        'Beacon' strives to make the road to better mental health extremely easy with as little frustration to the user as possible.
      </p>
      </div>
      <div class="modal-footer">
        <a class="btn btn-default" data-dismiss = "modal" aria-hidden="true">Close</a>
      </div>
    </div>
  </div>
</div>
