<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a href="/" id="beacon-link" class="text-shadow"><img src="/assets/beacon.png" id="beacon-img"/>Beacon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#quickHelp" class = "text-shadow" 'data-toggle' = "modal">Need Help Now?</a></li>
        <li><a class="text-shadow" id="about" href="/about">About</a></li>
        <li><a class="text-shadow" id="signup" href="/providers/new">Are you a provider?</a></li>
      </ul>
    </div>

    <div class="modal fade" id="quickHelp" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="quickHelpModalLabel">Need help now?</h4>
        </div>
        <div class="modal-body">
          <p>Are you worried about your own mental and physical well being or concerned about the safety of someone close to you?</p>
          <p>Here are some resources that will get you help very quickly:</p>
          <p>National Suicide Prevention Hotline: 1-800-273-TALK (8255)</p>
          <a href="http://www.suicidepreventionlifeline.org/">National Suicide Prevention Website</a>
        </div>
        <div class="modal-footer">
          <p>And if you or anyone is in any immediate danger please contact 911 first.</p>
          <a class="btn btn-default" data-dismiss = "modal" aria-hidden="true">Close</a>
        </div>
      </div>
    </div>
  </div>
  </div>
</nav>
