<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      </button>
      <a href="/" id="beacon-link" class="text-shadow"><img src="/assets/beacon.png" id="beacon-img"/>Beacon</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#quickHelp" class = "text-shadow" data-toggle = "modal">Need Help Now?</a></li>
        <li><a href="#about" class="text-shadow" data-toggle = "modal" data-target="#about">About</a></li>
        <li><a class="text-shadow" id="signup" href="/providers/new">Are you a provider?</a></li>
      </ul>
    </div>
  </div>
</nav>
