<div class="modal fade" id="quickHelp" role="dialog" aria-hidden="true" aria-labelledby="quickHelp">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="quickHelpModalLabel">Need help now?</h4>
      </div>
      <div class="modal-body">
        <p>Are you worried about your own mental and physical well being or concerned about the safety of someone close to you?</p>
        <p>Here are some resources that will get you help very quickly:</p>
        <p>National Suicide Prevention Hotline: 1-800-273-TALK (8255)</p>
        <a href="http://www.suicidepreventionlifeline.org/">National Suicide Prevention Website</a>
      </div>
      <div class="modal-footer">
        <p>And if you or anyone is in any immediate danger please contact 911 first.</p>
        <a class="btn btn-default" data-dismiss = "modal" aria-hidden="true">Close</a>
      </div>
    </div>
  </div>
</div>