<%= render 'navbar', layout: false %>

<div class="container-fluid" id="input-container">

  <% if flash[:notice] %>
        <div class="notice text-center"><%= flash[:notice] %></div>
      <% end %>

  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 text-center" id="feeling-header">
      <h2 class='text-shadow'>Today I feel...</h2>
    </div>
  </div>

    <div class="row">
      <%= render "feelings/index.html.erb", layout: false %>
    </div>

  <div class="row">
  </div>
</div>


<div class="container-fluid" id="results-container">
  <div class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4 text-center">
      <h3 class="text-shadow2">Click on some words above to help us help you...</h3>
    </div>
  </div>


</div>
