<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @provider.name %></h1>
    <p>
      <%= @client_name %> is seeking to contact you from Spring.com<br>
    </p>
    <p>
      Please email them back at <%= @client_email %>
    </p>
  </body>
</html>