<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello</h1>
    <p>You received a message from Beacon</p>
    <p><%= @message %></p>
  </body>
</html>
