/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets"
@import "bootstrap"

#input-container
  min-height: 250px
  background: #05abe0
  background: -moz-linear-gradient(top,  #05abe0 0%, #53cbf1 50%, #87e0fd 100%)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#05abe0), color-stop(50%,#53cbf1), color-stop(100%,#87e0fd))
  background: -webkit-linear-gradient(top,  #05abe0 0%,#53cbf1 50%,#87e0fd 100%)
  background: -o-linear-gradient(top,  #05abe0 0%,#53cbf1 50%,#87e0fd 100%)
  background: -ms-linear-gradient(top,  #05abe0 0%,#53cbf1 50%,#87e0fd 100%)
  background: linear-gradient(to bottom,  #05abe0 0%,#53cbf1 50%,#87e0fd 100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05abe0', endColorstr='#87e0fd',GradientType=0 )


#results-container
  background: url("pattern-7x68.png") repeat center center fixed
  background-color: #70B85D
  min-height: 600px

  .row
    margin-top: 10px

#result-partial-container
  background-color: #fff9d3
  color: black
  border-radius: 10px
  box-shadow: 8px 8px 5px #83bf35
  border: 10px solid #fff9d3
  top: -150px

body
  color: #fffef1
  background-color: #05ABE0

img
  margin: 10px
  width: 100px
  box-shadow: 5px 5px 5px #e8dc9b

.hidden
  visibility: hidden

#search
  color: black

.navbar
  margin-bottom: 0px
  border: none

.navbar-default

  .container-fluid
    background-color: #05ABE0
    box-shadow: none

  .navbar-brand
    color: white
    font-size: 2em

.navbar-default .navbar-nav
  li
    a
      color: white

#provider-signup-container
  background-color: white
  color: black
  box-shadow: 8px 8px 5px #888888
  border-radius: 20px
  margin-top: 50px
  height: 850px

  h2
    text-align: center

.text-shadow2
  text-shadow: 2px 2px 5px #215e10

#search-box
  margin-left: 5%
  padding: 1%
  width: 20%
  border-radius: 10px
  background-color: #fff9d3
  color: black
  box-shadow: 8px 8px 5px #83bf35
  border: 10px solid #fff9d3
  top: 20px

.btn-default
  color: #084ca0
  background-color: #ffffff
  border-color: #cccccc
  margin-top: 30px

.sticky
  position: fixed
  top: 10px

#providers-header
  position: relative

#providers-results
  display: block

#beacon-img
  box-shadow: none
  position: relative
  width: 90px
  height: 90px

#beacon-link
  font-size: 2em
  color: white
  text-decoration: none
